<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/commonHead',{title:"Blogs"}) %>

</head>

<body>
    <!-- header -->
    <header>
        <nav class="navbar">
            <div class="container">
                <a href="/blog" class="navbar-brand">
                    <p>OP MILITARY INVENTORY</p>
                </a>
                <div class="navbar-nav">
                    <a href="/" class="home">HOME</a>
                    <a href="/feedback" class="feedback">FEEDBACK</a>
                    <a href="/contact" class="contact">CONTACT</a>
                </div>
                <div class="sign-in-div">
                    <button onclick="window.location.href='/signin'">
                        SIGN IN
                    </button>
                </div>
            </div>
        </nav>
        <div class="banner">
            <div class="container">
                <p>
                    <i>" Indian Armed Forces are one of the best forces in
                        the world. They house some of the latest and most
                        leathal weapons from International as well as
                        Domestic Companies. "</i>
                </p>
            </div>
        </div>
    </header>
    <!-- end of header -->
    <!-- design -->
    <div class="design">
        <div class="title">
            <h2>RECENT UPDATES</h2>
        </div>

        <% for(let i=0;i<allBlogs.length;i++){ %>
            <div class="design-item mb-4">
                <div class="design-img">
                    <img src="<%= allBlogs[i].thumbnailURL %>" alt="" />
                </div>
                <div class="headline">
                    <h2>
                        <a href="<%=allBlogs[i].articleURL %>" target="_blank">
                            <%= allBlogs[i].headline %>
                        </a>
                    </h2>
                    <span>Published by <%= allBlogs[i].author %></span>
                    <span>Published on <%=allBlogs[i].publishedDate %></span>
                    <span>Last Edited on <%=allBlogs[i].lastModifiedDate %></span>

                    <div class="mt-3">
                        <a href="/blog/edit/<%=allBlogs[i]._id %>" class="d-inline-block align-middle"><i
                                class="fa-solid fa-user-pen text-dark"></i></a>
                        <form action="/blog/<%=allBlogs[i]._id %>?_method=DELETE" method="post" class="d-inline-block">
                        </form>
                        <button class="btn btn-dark btn-sm"><i class="fa-solid fa-trash-can"></i></button></form>
                    </div>
                </div>
            </div>
            <% } %>


    </div>
    <!-- footer starts -->
    <%- include('partials/footer')%>
        <!-- footer ends -->
</body>

</html>