<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/commonHead',{title:"Blogs"}) %>

</head>

<body>
    <!-- header -->
    <header>
        <nav class="navbar">
            <div class="container">
                <a href="/blog" class="navbar-brand">
                    <p>OP MILITARY INVENTORY</p>
                </a>
                <div class="navbar-nav">
                    <a href="/" class="home nav-link">HOME</a>
                    <a href="/feedback" class="feedback nav-link">FEEDBACK</a>
                    <a href="/contact" class="contact nav-link">CONTACT</a>
                    <% if(!currentUser) {%>
                        <a href="/signin" class="auth-btn">SIGN IN</a>
                        <% } else{%>
                            <form action="/logout" method="post">
                                <button class="auth-btn">LOG OUT</button>
                            </form>
                            <% } %>
                </div>

            </div>
        </nav>
        <div class="banner">
            <div class="container">
                <p>
                    <i>" Indian Armed Forces are one of the best forces in
                        the world. They house some of the latest and most
                        leathal weapons from International as well as
                        Domestic Companies. "</i>
                </p>
            </div>
        </div>
    </header>
    <!-- end of header -->
    <!-- design -->
    <div class="container">
        <div class="title">
            <h2>RECENT UPDATES</h2>
        </div>

        <% for(let i=0;i<allBlogs.length;i++){ %>
            <div class="design-item mb-4 row pb-2">
                <div class="col-5">
                    <a href="<%=allBlogs[i].link %>" target="_blank" class="design-img">
                        <img src="<%= allBlogs[i].image_url || 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.mi_eFXd_Fcmu2zQ8oz5LEwAAAA%26pid%3DApi&f=1&ipt=0bfa5e8f28545487726d196864738d1d15d1c5df93b7d75b5e174359175931bf&ipo=images' %>"
                            alt="article thumbnail" />
                    </a>
                </div>
                <div class="headline col-7">
                    <h2>
                        <a href="<%=allBlogs[i].link %>" target="_blank">
                            <%= allBlogs[i].title %>
                        </a>
                    </h2>
                    <% if(allBlogs[i].creator) {%>
                        <span>Published by <%= allBlogs[i].creator %></span>
                        <% } %>
                            <span>Published on <%=allBlogs[i].pubDate %></span>
                </div>
            </div>
            <% } %>


    </div>
    <!-- footer starts -->
    <%- include('partials/footer')%>
        <!-- footer ends -->
</body>

</html>