<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/commonCategoryPageHead',{title:equipments[0].category}) %>
        <script src="https://kit.fontawesome.com/0487bece73.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Navbar Starts -->
    <%- include('partials/commonNavbar') %>
        <!-- Navbar Ends -->

        <div class="equipment-category-box">
            <h1>
                <%= equipments[0].category.toUpperCase() %> :
            </h1>
            <div class="equipments-main-container-div">
                <% for( let equipment in equipments ){ %>
                    <div class="individual-equipments">
                        <h3>
                            <%= equipments[equipment].name %>
                        </h3>
                        <a href="<%= equipments[equipment].preview.fullInfoLink %>"><img
                                src="<%= equipments[equipment].preview.icon.path %>"
                                alt="<%= equipments[equipment].name %>" /></a>
                        <div class="equipment-info">
                            <a href="<%= equipments[equipment].preview.fullInfoLink %>"><img
                                    src="<%= equipments[equipment].preview.onHover.imgSrc %>"
                                    alt="<%= equipments[equipment].name %>" /></a>
                            <p>
                                <%- equipments[equipment].preview.onHover.description %>
                            </p>
                            <a href="<%= equipments[equipment].preview.fullInfoLink %>" class="wikipedia-link"
                                title="Know More about the Equipment"><i class="fab fa-wikipedia-w"></i></a>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>

        <!-- footer starts -->
        <%- include('partials/footer')%>
            <!-- footer ends -->
</body>

</html>