<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/commonServicePageHead',{title}) %>
</head>

<body>
    <!-- Navbar -->
    <%- include('partials/commonNavbar') %>
        <div class="mt-4">
            <%- include('partials/flash') %>
        </div>
        <div class="page-heading">
            <h1>
                <%= title.toUpperCase()%>
            </h1>
        </div>

        <% const categories=serviceCategories[service]%>
            <% for (let categoryIndex=1; categoryIndex < categories.length; categoryIndex++) { %>
                <div class="sections">
                    <div class="equipment-category-box">
                        <h2 class="category-heading">
                            <%= categories[categoryIndex].toUpperCase() %> :
                        </h2>

                        <% for(let subCategoryIndex in subCategoriesArray) {%>
                            <%# console.log(categories[categoryIndex]==subCategoryIndex) %>
                                <% if(categories[categoryIndex]===subCategoryIndex) {%>
                                    <%# console.log(categories[categoryIndex],subCategoriesArray[subCategoryIndex]) %>
                                        <% for(let subCat=1;
                                            subCat<subCategoriesArray[subCategoryIndex].length;subCat++) {%>
                                            <h3 class="subcategory-heading">
                                                <%= subCategoriesArray[subCategoryIndex][subCat] %>
                                            </h3>
                                            <% } %>
                                                <% let subCategoryEquipment=equipments.filter((equip)=>{
                                                    return equip.category===categories[categoryIndex] &&
                                                    categories[categoryIndex]===subCategoryIndex
                                                    }) %>

                                                    <div class="equipments-main-container-div">
                                                        <% let numOfEquip=0 %>
                                                            <% for( let equipment in subCategoryEquipment ) { %>
                                                                <%if(subCategoryEquipment[equipment].decomissionDetails.hasDecomissioned){%>
                                                                    <%continue%>
                                                                        <%}%>
                                                                            <% if(numOfEquip++==4){ %>
                                                                                <% break %>
                                                                                    <%}%>
                                                                                        <%if(subCategoryEquipment[equipment]){%>
                                                                                            <%- include("partials/equipmentCard",{equipmentDecomissioned:subCategoryEquipment[equipment].decomissionDetails.hasDecomissioned,
                                                                                                equipmentName:subCategoryEquipment[equipment].name.toUpperCase(),
                                                                                                equipmentFullInfoLink:subCategoryEquipment[equipment].preview.fullInfoLink,
                                                                                                equipmentIconPath:subCategoryEquipment[equipment].preview.icon.path,
                                                                                                equipmentOnHoverImg:subCategoryEquipment[equipment].preview.onHover.imgSrc,
                                                                                                equipmentOnHoverDescription:subCategoryEquipment[equipment].preview.onHover.description})%>
                                                                                                <%}%>
                                                                                                    <% } %>
                                                    </div>
                                                    <% if(subCategoryEquipment.length>4){ %>
                                                        <div class="see-more-btn">
                                                            <a
                                                                href="/equipments/<%= service %>/category/<%= categories[categoryIndex]%>">SEE
                                                                MORE</a>
                                                        </div>
                                                        <%}%>
                                                            <% } %>
                                                                <% } %>


                    </div>
                </div>
                <% } %>
                    <!-- footer starts -->
                    <%- include('partials/footer')%>
                        <!-- footer ends -->
</body>

</html>